<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pathfinder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A91D4921BC81CA8003D4F34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A91D4A61BC81CA8003D4F34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A91D4B11BC81CA8003D4F34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
